* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#canvas {
    /*height: 100vh;*/
    background: green;
    display: block;
    position: relative;
}

#main {
    position: relative;
}

#eraser {
    position: fixed;
    left: 0;
    bottom: 0px
}
